$color-background: #eee;
$color-primary: #a35d6a;
$color-secondary: #4e89ae;
$color-warn: #eebb4d;
$color-danger: #ed6663;
$color-succes: #3aad6e;
$color-dark: #1a1c20;
$color-light: #fff;
$color-grey: #999;

.content {
  min-width: 30rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 4rem auto 0 auto;

  .header-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;

    .add-new-btn {
      position: relative;
      text-decoration: none;
      margin-bottom: 2rem;
      color: white;
      background-color: $color-succes;
      border-radius: 1rem;
      padding: 1rem 3.8rem 1rem 2rem;
      transition: all 0.1s;
      &:hover {
        opacity: 0.7;
      }

      .add-icon {
        position: absolute;
        top: 0.8rem;
        right: 1.2rem;
      }
    }
  }

  .pages-container {
    width: max-content;
    text-align: right;
    p {
      font-size: 1.4rem;
      user-select: none;
      padding: 0.8rem 2rem;
      border-radius: 1rem;
      color: $color-danger;
      background-color: white;
      &:first-of-type {
        margin-bottom: 10px;

        color: $color-succes;
      }
    }

    .divider {
      width: 50%;
      margin: 2rem 0 0rem auto;
      border: 1px solid #ccc;
    }
  }
}
