// Variables
$color-background: #f7f2e7;
$color-primary: rgb(68, 130, 223);
$color-secondary: #a35d6a;
$color-warn: #eebb4d;
$color-danger: #ed6663;
$color-success: #5cb163;
$color-dark: #1a1c20;
$color-light: #fff;
$color-medium-grey: #999;

.content {
  min-width: 30rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 4rem auto 0 auto;

  .header-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;

    .add-new-btn {
      position: relative;
      text-decoration: none;
      margin-bottom: 2rem;
      color: white;
      background-color: $color-success;
      border-radius: 1rem;
      padding: 1rem 3.8rem 1rem 2rem;
      transition: all 0.1s;
      &:hover {
        background-color: rgba(58, 173, 110, 0.8);
      }

      .add-icon {
        position: absolute;
        top: 0.8rem;
        right: 1.2rem;
      }
    }
  }

  .pages-container {
    width: max-content;
    text-align: right;
    p {
      font-size: 1.4rem;
      user-select: none;
      border: 2px solid rgba(219, 80, 65, 0.7);
      padding: 0.8rem 2rem;
      border-radius: 1rem;
      color: rgba(219, 80, 65, 0.7);
    }

    p:first-of-type {
      margin-bottom: 10px;
      border: 2px solid rgba(58, 173, 110, 0.8);
      color: rgba(58, 173, 110, 0.8);
    }

    .divider {
      width: 50%;
      margin: 2rem 0 0rem auto;
      border: 1px solid #eee;
    }
  }
}
