.card {
  padding: 0.5rem 2rem;
  background-color: #eee;
  border-radius: 1rem;
}

.list-container {
  min-width: max-content;
  margin: 0 auto;
  .list-item-container {
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #ccc;
    &:last-of-type {
      border-bottom: none;
    }

    .read-icon {
      color: rgb(58, 173, 110);
      margin-right: 1rem;
    }

    .not-read-icon {
      color: #ccc;
      margin-right: 1rem;
    }

    .text-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 2rem;
      .text-item {
        padding: 0 1rem;
        border-right: 1px solid #ccc;
        &:last-of-type {
          padding-right: 0;
          border-right: none;
        }
      }
    }
    .btn-container {
      padding-left: 2rem;
      border-left: 1px solid #ccc;

      .btn {
        position: relative;
        height: 4rem;
        width: 4rem;
        margin-left: 1rem;
        color: white;
        outline: none;
        border-radius: 50%;
        border: none;

        &:first-of-type {
          margin-left: 0;
        }

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }

        .edit-icon {
          position: absolute;
          top: 0.8rem;
          right: 0.7rem;
        }

        .delete-icon {
          position: absolute;
          top: 0.8rem;
          right: 0.8rem;
        }
      }

      .edit-btn {
        background-color: rgb(233, 166, 49);
      }
      .delete-btn {
        background-color: rgb(219, 80, 65);
      }
    }
  }
}
