<main class="card">
  <ul *ngIf="books?.length > 0" class="list-container">
    <li *ngFor="let book of books" class="list-item-container">
      <div class="text-container">
        <span *ngIf="book.isRead" class="material-icons read-icon">
          check_circle
        </span>
        <span *ngIf="!book.isRead" class="material-icons not-read-icon">
          panorama_fish_eye
        </span>
        <span class="text-item">{{ book.title }}</span>
        <span class="text-item">{{ book.author }}</span>
        <span class="text-item">{{ book.isbn }}</span>
        <span class="text-item">{{ book.pages }} pp.</span>
      </div>
      <div class="btn-container">
        <button class="btn edit-btn" routerLink="book/edit/{{ book.id }}">
          <span class="material-icons edit-icon"> edit </span>
        </button>
        <button class="btn delete-btn" (click)="onDelete(book)">
          <span class="material-icons delete-icon"> highlight_off </span>
        </button>
      </div>
    </li>
  </ul>
  <app-spinner *ngIf="showSpinner"></app-spinner>
  <div class="no-book-msg" *ngIf="books?.length === 0">
    There are no books in your collection. Add a new one!
  </div>
</main>
