// Variables
$color-background: #f7f2e7;
$color-primary: rgb(68, 130, 223);
$color-secondary: #a35d6a;
$color-warn: #eebb4d;
$color-danger: #ed6663;
$color-succes: #91d18b;
$color-dark: #1a1c20;
$color-light: #fff;
$color-medium-grey: #999;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  background-color: $color-light;
  border-bottom: 0.1rem solid $color-dark;

  .title-container {
    position: relative;
    padding-left: 4rem;
    user-select: none;
    -moz-user-select: none;

    .book-icon {
      position: absolute;
      left: 0;
      top: -0.4rem;
      font-size: 3rem;
      color: $color-secondary;
    }

    .app-title {
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: 0.1rem;
      color: $color-dark;
    }
  }

  .link-list {
    display: flex;
    justify-content: space-between;
    user-select: none;
    -moz-user-select: none;

    .username {
      font-weight: 300;
      color: $color-medium-grey;
    }

    li {
      margin-right: 2rem;
      padding: 1rem 0 0.8rem 0;
      transition: all 0.1s ease;
      border-bottom: 2px solid $color-light;
      &:not([class="username"]):hover {
        cursor: pointer;
        border-bottom: 2px solid $color-primary;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      font-weight: 300;
      color: $color-dark;
    }
  }
}
