$color-background: #eee;
$color-primary: #a35d6a;
$color-secondary: #4e89ae;
$color-warn: #eebb4d;
$color-danger: #ed6663;
$color-succes: #3aad6e;
$color-dark: #1a1c20;
$color-light: #fff;
$color-grey: #999;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  background-color: $color-light;
  border-bottom: 0.1rem solid $color-dark;

  .title-container {
    position: relative;
    padding: 0.7rem 0 0.7rem 4rem;
    user-select: none;
    -moz-user-select: none;

    .book-icon {
      position: absolute;
      left: 0;
      top: 0.4rem;
      font-size: 3rem;
      color: $color-primary;
    }

    .app-title {
      font-family: "Merriweather", serif;
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: 0.1rem;
      color: $color-dark;
    }
  }

  .link-list {
    display: flex;
    justify-content: space-between;
    user-select: none;
    -moz-user-select: none;

    .username {
      font-weight: 300;
      color: $color-grey;
    }

    li {
      margin-right: 2rem;
      padding: 1rem 0 0.8rem 0;
      transition: all 0.1s ease;
      border-bottom: 2px solid $color-light;
      &:not([class="username"]):hover {
        cursor: pointer;
        border-bottom: 2px solid $color-primary;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      font-weight: 300;
      color: $color-dark;
    }
  }
}
