.content {
  width: max-content;
  margin: 0 auto;

  .form-field {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }

    input:not([type="checkbox"]) {
      padding: 0.6rem;
      border: 1px solid #999;
      width: 50rem;
    }
  }
  .submit-btn {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    padding: 0.8rem 1.2rem;
    color: white;
    background-color: rgb(58, 173, 110);
    border-radius: 1rem;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
}
