.spinner {
  border: 1rem solid white;
  border-radius: 50%;
  border-top: 1rem solid rgb(74, 109, 131);
  width: 120px;
  height: 120px;
  margin: 3rem auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
