<div class="card">
  <h1 class="title">Settings</h1>
  <form>
    <div class="checkbox-field">
      <label for="allowRegister">Allow register to new users?</label>
      <input
        type="checkbox"
        name="allowRegister"
        [checked]="settings.allowRegistration"
        (change)="settings.allowRegistration = !settings.allowRegistration"
      />
    </div>
    <div class="checkbox-field">
      <label for="showPagesToRead">Display pages to read?</label>
      <input
        type="checkbox"
        name="showPagesToRead"
        [checked]="settings.showPagesToRead"
        (change)="settings.showPagesToRead = !settings.showPagesToRead"
      />
    </div>
    <div class="checkbox-field">
      <label for="showReadPages">Display read pages?</label>
      <input
        type="checkbox"
        name="showReadPages"
        [checked]="settings.showReadPages"
        (change)="settings.showReadPages = !settings.showReadPages"
      />
    </div>
    <input
      type="submit"
      value="submit"
      (click)="onSubmit()"
      class="submit-btn"
    />
  </form>
</div>
