$font-default: "Roboto", sans-serif;
$color-dark: rgb(31, 31, 31);
$color-light: #fff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.4%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: $color-light;
  color: $color-dark;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.card {
  padding: 2rem;
  background-color: #eee;
  border-radius: 1rem;
}

.alert-success {
  width: max-content;
  margin: 0 auto;
  background-color: rgba(58, 173, 110, 0.7);
  color: white;
  padding: 2rem 3rem;
  margin-bottom: 1rem;
  border-radius: 1.6rem;
}

.alert-error {
  width: max-content;
  margin: 0 auto;
  background-color: rgba(219, 80, 65, 0.7);
  color: white;
  padding: 2rem 3rem;
  margin-bottom: 1rem;
  border-radius: 1.6rem;
}
